{% extends 'Index.html' %}

{% block content %}
<div>
    <a href="/panelarticles/add" class="btn btn-success">Добавить новость</a>
</div>
<table class="table table-striped">
    <tr>
        <th>Название</th>
        <th>Текст</th>
        <th>Дата публикации</th>
        <th></th>
        <th></th>
    </tr>
{% for item in items %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.text }}</td>
            <td>{{ item.published }}</td>
            <td><a href="/panelarticles/edit?id={{ item.Pk }}" class="btn btn-info">Редактировать</a></td>
            <td><a href="/panelarticles/delete?id={{ item.Pk }}" class="btn btn-danger">Удалить</a></td>
        </tr>

{% endfor %}
</table>
{% endblock %}